<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015371492244-r8ptl715q9khuu7u2tip983ovoqkvcqe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015371492244-r8ptl715q9khuu7u2tip983ovoqkvcqe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1015371492244-gudme65h6l7ntuni8oajjisf6dcshhaj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD83kmk1C0hNcpzV3FQwaMzG5PCxjfBo9A</string>
	<key>GCM_SENDER_ID</key>
	<string>1015371492244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.getmycharterOwner</string>
	<key>PROJECT_ID</key>
	<string>getmycharter</string>
	<key>STORAGE_BUCKET</key>
	<string>getmycharter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015371492244:ios:73673387b4789f8aa53d81</string>
</dict>
</plist>
